@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Poppins:wght@100;400;700&display=swap');

/* Layout */
.menu-item-container, .sides-section, .drinks-section, .sauces-section {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.button {
  background-color: var(--color-primary);
  border-radius: 4px;
  color: white;
  display: inline-block;
  padding: var(--spacing-small) var(--spacing-medium);
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--color-secondary);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s ease;
}

/* Header & Navbar */
.header-container {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  justify-content: space-between;
  padding: 2% 5%;
}

.logo img {
  border-radius: 50%;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

.header-container h1 {
  background: linear-gradient(90deg, #c0392b, #e63946);
  color: #333;
  font-family: 'Playfair Display', serif;
  font-size: calc(.8rem + 2vw);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-toggle {
  background: none;
  border: none;
  color: #c0392b;
  cursor: pointer;
  display: none;
  font-size: 1.5rem;
}

.menu-list {
  display: block;
  list-style: none;
}

.main-nav ul {
  display: flex;
  list-style: none;
}

.main-nav ul li {
  margin-right: 1rem;
}

.main-nav ul li a {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 15px;
  color: #333;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.main-nav ul li a:hover {
  background-color: #c0392b;
  border-radius: 5px;
  color: #fff;
}

/* Hero Section */
.hero-section .overlay {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: auto;
  border-radius: 8px;
}
.hero-section {
  position: relative;
  padding: 100px 0;
}

.hero-section h2 {
  margin-bottom: 10px;
}

.hero-section p {
  color: #fff;
  margin-bottom: 20px;
}

/* Menu Section */
.menu-title {
  font-size: var(--spacing-large);
  margin-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.menu-item-container {
  margin: 0 auto;
  width: 80%;
}

.menu-item {
  height: auto;
  margin-bottom: 2rem;
  max-width: 100%;
  position: relative;
  text-align: center;
}

.menu-item img {
  border: 2px solid var(--color-accent);
  border-radius: 50%;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  pointer-events: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-drag: none;
}

.menu-item h3 {
  font-size: calc(var(--spacing-medium) - 2px + 1vw);
  height: 100px;
  line-height: 1;
}

.menu-item p {
  font-size: var(--spacing-medium);
}

.menu-item .description {
  margin-bottom: 4rem;
}

.menu-item a {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}

/* Sides Section */
.sides-section {
  display: flex;
  flex-direction: column;
}

.sides-section .sides-title {
  text-align: center;
  font-size: var(--spacing-medium);
  margin-bottom: -1rem;
  margin-top: 6rem;
  text-transform: uppercase;
}

.sides-section .sides-subtitle {
  font-size: calc(var(--spacing-medium) - 1rem + 1vw);
  text-align: center;
}

/* Drinks Section */
.drinks-section {
  display: flex;
  flex-direction: column;
}

.drinks-section .drinks-title {
  font-size: var(--spacing-large);
  margin-bottom: -1rem;
  margin-top: 6rem;
  text-align: center;
  text-transform: uppercase;
}

.drinks-section .drinks-subtitle {
  text-align: center;
  font-size: calc(var(--spacing-medium) - 1rem + 1vw);
}

.drinks-section .menu-item-container {
  grid-template-columns: repeat(3, 1fr);
}

/* Sauces Section */

.sauces-section {
  display: flex;
  flex-direction: column;
}

.sauces-section .sauces-title {
  text-align: center;
  font-size: var(--spacing-large);
  margin-top: 6rem;
  margin-bottom: -1rem;
  text-transform: uppercase;
}

.sauces-section .sauces-subtitle {
  font-size: calc(var(--spacing-medium) - 1rem + 1vw);
  text-align: center;
}

.sauces-section .menu-item-container {
  grid-template-columns: repeat(2, 1fr);
}

/* Footer */
.footer {
  background: #cd7f32;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  margin-top: 6rem;
  padding: 20px;
  text-align: center;
}

.footer h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer p {
  margin: 5px 0;
}

.footer-social a {
  color: var(--color-background);
  margin: 0 10px;
  text-decoration: none;
  transition: opacity 0.3s;
}

.footer-social a:hover {
  opacity: 0.7;
}

.footer-legal {
  font-size: 1.2rem;
  margin-top: 10px;
}

/* Responsive */
@media screen and (max-width: 1320px) {
  .hero-section {
    margin: 0 auto;
  }

  .menu-item-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .sides-section .menu-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .menu-item-container,
  .drinks-section .menu-item-container  {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 788px) {
  .header-container h1 {
    display: none;
  }

  .hero-section, .sides-subtitle, .drinks-subtitle, .sauces-subtitle {
    display: none;
  }

  .menu-item-container, 
  .sides-section .menu-item-container, 
  .drinks-section .menu-item-container, 
  .sauces-section .menu-item-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
  .header-container h1 {
    font-size: 1rem;
  }
  
  .hero-section {
    height: auto;
    padding: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }
  
  .menu-toggle {
    background: none;
    border: none;
    color: var(--color-primary);
    cursor: pointer;
    display: block;
    font-size: 2rem;
  }

  .menu-list {
    background: #ffffff;
    border: 1px solid rgba(200, 200, 200, 0.8);
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), inset 0 1px 3px rgba(255, 255, 255, 0.8);
    display: none;
    flex-direction: column;
    left: 0;
    margin-top: 3.7rem;
    opacity: 0;
    padding: 1rem 0;
    position: absolute;
    top: 60px;
    transform: translateY(-10px);
    width: 100%;
    z-index: 1000;
  }

  .menu-list li {
    margin: 1rem 0;
    text-align: center;
  }

  .menu-list.show {
    display: flex;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
  
  .menu-list.hide {
    animation: fadeOut 0.3s ease-in-out forwards;
  }

  .menu-list li a {
    background-color: transparent;
    color: var(--color-primary);
    display: block;
    font-size: 1rem;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 100%;
  }
  
  .menu-list li a:hover {
    background-color: var(--color-secondary-light);
    color: #fff;
  }
  
  .footer {
    background: #ff9800;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .menu-title,
  .sides-title,
  .drinks-title,
  .sauces-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .menu-section img,
  .sides-section img,
  .drinks-section img,
  .sauces-section img {
    height: 150px;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    margin-top: 8rem;
    padding: 1rem;
    transform: translateY(-10px);
    width: 100%;
    z-index: 1000;
  }  

  .menu-item h3 {
    font-size: 1.2rem;
    height: 30px;
  }

  .menu-item p {
    font-size: 1rem;
    margin-bottom: .3rem;
  }

  .menu-item .description {
    font-size: .9rem;
  }

  .menu-item .button {
    font-size: 1rem;
    margin-top: 1rem;
  }

  .main-nav ul {
    height: auto;
    padding: 1rem 0;
    top: 0;
  }
}

/* Animação para abrir o menu */
.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animação para fechar o menu */
.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}
