.cart-section {
  position: relative;
}

.cart-container {
  background-color: rgb(255, 196, 0);
  border-radius: 30%;
  bottom: 20px;
  cursor: pointer;
  padding: 10px;
  position: fixed;
  right: 20px;
  transition: background-color 0.3s ease;
  z-index: 999;
}

.cart-container:hover {
  background-color: rgb(255, 123, 0);
}

.cart-container img {
  position: aboslute;
}

.cart-container span {
  background-color: var(--color-primary);
  border-radius: 20%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 6px 12px;
  position: absolute;
  right: 4px;
  top: 1px;
  animation: wave 2s infinite ease-in-out;
}

@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
