@import url(src/styles/base/reset.css);
@import url(src/styles/base/variable.css);
@import url(src/styles/components/cart.css);
@import url(src/styles/components/payment.css);
@import url(src/styles/pages/contact.css);
@import url(src/styles/pages/index.css);