.contact-page {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.contact-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  width: 100%;
}

.contact-left,
.contact-right {
  flex: 1 1 45%;
}

.contact-left {
  padding: 0 4rem;
}

/* Contact Left Section */
.contact-left h2 {
  text-transform: uppercase;
  color: #444;
  text-align: center;
  font-size: calc(0.1rem + 2vw);
}

.contact-icons {
  list-style: none;
  padding: 0;
}

.contact-icons li {
  margin: 2rem 0;
}

.contact-icons a {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: inherit;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  gap: 20px;
  text-decoration: none;
}

.contact-icons li:nth-child(1) a:hover {
  background-color: #25d366;
}

.contact-icons li:nth-child(2) a:hover {
  background-color: #833ab4;
}

.contact-icons li:nth-child(3) a:hover {
  background-color: #db4437;
}

.contact-icons img {
  margin-left: 4px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

/* Contact Right Section */
.contact-right button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

.contact-right button:hover {
  background-color: var(--color-secondary);
}

.contact-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-right input,
.contact-right textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  width: 100%;
}

.contact-right label {
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 788px) {
  .contact-container {
    align-items: center;
    flex-direction: column;
  }

  .contact-left,
  .contact-right {
    flex: 1 1 100%;
    width: 80%;
  }

  .contact-left {
    padding: 0;
    margin-bottom: 3rem;
  }

  .contact-left h2 {
    font-size: calc(0.6rem + 2vw);
  }

  .contact-icons li a {
    font-size: calc(0.6rem + 1vw);
  }
}
