@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ranchers&display=swap");

:root {
  --color-background: #f4f4f4;
  --color-primary: #c0392b;
  --color-secondary: #e63946;
  --font-body: "Oswald", sans-serif;
  --font-theburguer: "Ranchers", sans-serif;
  --font-footer: "Montserrat", sans-serif;
  --font-spacing: 0.5px;
  --font-size-title: 50px;
  --font-price: 18px;
  --font-section-h3: 18px;
  --font-size-description: 12px;
}

body {
  background-color: var(--color-background);
  color: #333;
  font-family: var(--font-body);
  letter-spacing: var(--font-spacing);
}

a {
  border-radius: 8px;
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  background: var(--color-secondary);
  color: var(--color-background);
}
